.contentBanner {
  min-height: 90vh;
  margin: 0 auto;
  width: 95vw;
  background-size: cover !important;
  object-fit: contain;
  display: flex;
  align-items: center;
  color: var(--colwhite);
  justify-content: flex-end;
}
.contentBanner:nth-child(odd) {
  color: var(--dark);
  justify-content: flex-start;
}
.bannerContent {
  width: 40vw;
  display: flex;
  padding: 1rem;
  flex-direction: column;
}
.bannerContent div:nth-child(even) {
  width: 90%;
}
.bannerContent h2 {
  font-weight: 200;
  font-size: clamp(1rem, 2.5vw, 1.4rem);
}
