.contentBanner {
  min-height: 90vh;
  margin: 0 auto;
  width: 95vw;
  background-size: cover !important;
  object-fit: contain;
  display: flex;
  align-items: center;
  color: var(--colwhite);
  justify-content: flex-end;
}
.contentBanner:nth-child(odd) {
  color: var(--dark);
  justify-content: flex-start;
}
.bannerContent {
  width: 50vw;
}
