/* colors */
:root {
  --dark: #1c2121;
  --redColor: #ed1c24;
  --redlightColor: #ff0000;
  --linkBlue: #3ea6ff;
  --colwhite: #ffffff;
  --darkgrey: #303636;
  --lightgrey: #757575;
}
.colorLink {
  color: var(--linkBlue);
  cursor: pointer;
}
.Linkbtn {
  background-color: var(--linkBlue) !important;
  font-weight: 600 !important;
  z-index: 0 !important;
  position: relative;
  margin-bottom: 1.5rem !important;
}
.Features {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-evenly;
}
